body{
  overflow: none;
}
h1{
  font-weight: 700;
  font-size: 45px;
  margin: 20px 5px;
}
input{
  width: 100%;
}
.myalign{
  text-align: left;
}
.margins{
  margin: 10px 0px;
}
.mybtn{
  min-width: 80px;
}
.paddincontai{
  margin-left: 50vh;
}